.ctdecide_list {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	width: 190px;
}
.ctdecide_content {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 200px;
	right: 10px;
}

.yup {
	color: white;
	background: green;
	border: 1px solid green;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	font-size: 160%;
	font-weight: bold;
}

.nope {
	color: white;
	background: red;
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	font-size: 160%;
	font-weight: bold;
}